
body {
  margin:0;
}

.header{
	border:1px solid #ccc;
	height:150px;
	background:rgb(214, 192, 209);
	 border-radius: 20px;
}

.header > h1{
   text-align:center;
}

.header > h6{
   text-align:center;
   color:blue;
   
}
 
 #chart{
 height:100px; 
 width:200px;
 border:1px solid gray;
 margin-bottom:20px; 
 background:#eee;
 
 }
 
.footer1{
	border:1px solid #ccc;
	height:150px;	
	background:rgb(214, 192, 209);
	 border-radius: 20px;
	 padding-left:100px;
	  padding-top:50px;
}

.t1{
cursor:pointer;

}

#inpt{
 width:400px;
 height:30px;
 border-radius: 15px;
 border-color:rgb(214, 192, 209);

}

#btn{
   height:30px;
   width:60px;
   border-radius: 20px;
   background:white; 
   border-color:rgb(214, 192, 209);
}

.tb{ color:red ;}
.tb1{ color:green ;}

table{ margin-bottom:20px;}


.row {
	/* //border:1px solid #ccc; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column1 {
	/* //border:1px solid #ccc; */
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.left {
  background-color: #fff;
  height: 100%;
}

.right{
  background-color: #fff;
  height:100%;
}

.total{
  margin: 15px;
}

.center{
  padding: 20px;
  background-color:rgb(231,218,228);
  height: 100%;

  
}

.column2 {
  /* //border:1px solid #ccc; */
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
    
}

.dark-mode{
	background: black;
	color: #fff;
	
}

#mode{
	
   margin-top:20px;
   height:30px;
   width:90px;
   border-radius: 20px;
   background:white; 
   border-color:rgb(214, 192, 209);
	
}